<form class="example-form" (submit)="onSubmit()">
    <!-- <form class="example-form" (submit)="onSubmit()"> -->
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="enter first name" [formControl]="firstName" [(ngModel)]='fName' required>
                <mat-error *ngIf="firstName.invalid">{{getInputErrorMessage()}}</mat-error>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <!--[ngStyle]="{'width': '500px'}"-->
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="enter last name" [formControl]="lastName" [(ngModel)]='lName' required>
                <mat-error *ngIf="lastName.invalid">{{getInputErrorMessage()}}</mat-error>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- <div class="row"> -->
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="enter phone numner" [formControl]="phone" [(ngModel)]='telNum' required>
                <mat-error *ngIf="phone.invalid">{{getInputErrorMessage()}}</mat-error>
                <mat-icon matSuffix>phone_enabled</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
      
    </div>
    <div class="row">
      
        <div class="col-md-3">
            <button class="btn btn-primary btn-lg" [disabled]="addContactBtnEnable()">ADD CONTACT</button>
        </div>
    </div>
</form>





<div class="jumbotron">
    <h1 class="display-3">Contacts!</h1>
    <p class="lead">Please Enter Required information.</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-4" *ngFor="let contact of contactData">
         
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <!-- <button type="button" class="close" data-dismiss="alert"></button> -->
            <button type="button" class="close" (click)="confirmDelete(contact)">
              <span class="badge close btn btn-danger ">&times;</span>
            </button>
            <div class="card-header">
                <h1>{{contact.firstName}} {{contact.lastName}}</h1>
            </div>
            <div class="card-body">
                <p class="card-text">Phone: {{contact.phone}}</p>
              
            </div>
       
    </div>
</div>
